{% extends "app/base.html" %} {% load static %}

<head>
  {% block head %}
  <link rel="stylesheet" href="{% static 'app/css/yands.css' %}" />
  <title>Yandex music Downloader</title>
  {% endblock %}
</head>

<body>
  {% block body %}
  <a href="/">Home</a>
  <div class="content">
    <div class="input-container">
      <form action="{% url 'yandlink' %}" method="post" >
        {% csrf_token %}
        <input type="text" class="yand-inp" name="link"/>
        <div class="btn-send">
          <button class="ss">Send</button>
        </div>
      </form>

      {% if url %}
        <a href="{% url 'yandInstall' %}">Install</a>
      {% endif %}
       
    </div>
  </div>
  {% endblock %}
</body>
