.yand-inp {
  border: 2px solid #bab86c;
  color: #e4d00a;
  transition: box-shadow 0.5s ease;
}

.yand-inp:hover {
  box-shadow: 0 0 20px 5px rgba(186, 184, 108, 0.5);
}

.ss {
  margin-left: 10px;
  cursor: pointer;
  border: none;
  background-color: #e4d00a;
  transition:
    background-color 0.3s ease,
    box-shadow 0.5s ease;
}

.ss:hover {
  background-color: #bab86c;
  box-shadow: 0 0 20px 5px rgba(186, 184, 108, 0.5);
}
